# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Build
# =========================
build/
dist/
coverage/

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/dev.db-journal

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.log
*.tmp
*.temp

# =========================
# Cache
# =========================
.cache/
.eslintcache